body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 30px;
  flex-wrap: wrap;

}

p {

  height: 100vh;
  width: 60vw;
  margin: 0;
  flex-wrap: wrap;
  padding: 30px;
  flex-direction: row;

}

#pageHeader {
  width: 100vw;
}

#shelf {

  /*width: 30vw;*/
  height: 100vh;
  width: 25vw;
  margin: 0;
  

}
#shelfTitles{
  font-size: 10px;
}

#bookImages{
  padding: 10px;
 
}
ul {
  list-style: none;
}
li {
  font-size: 10px;
}